.founder {
    margin-top: 20px;
  }

iframe {
    margin-top: 20px;
    width: 700px;
    height: 360px;
    margin-bottom: 20px;
}

.about {
    text-align: center;
}

.is-selected {
    color: #1989FA;
}